/AssignmentQ
/calculator
/Day1
/Day10
/Day11
/Day12
/Day13
/Day2
/Day3
/Day4
/Day5
/Day6
/Day7
/Day8
/Day9
/EmailValidation
/example.html
/JavaScript Subjective Questions - 1.txt
/JavaScript Subjective Questions - 2.txt
/JavaScript Subjective Questions - 3.txt
/JavaScript Subjective Questions - 4.txt
/login.html
/MineSweeper
/mock
/new
/Notes
/PracticeQuestions
/Project2
/Project3
/ResponsiveDashboard
/SendDataToAnotherPage